
.screeningQuestion__card {
    margin: 16px 0;
    border-radius: 8px;
    border: 1px solid rgb(200, 200, 200);
}

.screeningQuestion__card > header {
    background-color: rgb(235, 235, 255);
    height: 30px;
    padding: 8px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.screeningQuestion__card h3 {
    margin: 0 4px 0 0;
    font-size: 14px;
    font-weight: 600;
}

.screeningQuestion__icon {
    cursor: pointer;
    padding: 4px;
}

.screeningQuestion__icon:hover {
    background-color: lightgrey;
    border-radius: 50%;
}


.screeningQuestion__textInput {
    padding: 15px 15px 0 15px;
}

.screeningQuestion__textInput > span {
    font-size: 13px;
}

.screeningQuestion__textInput > textarea{
    width: 98%;
    height: 120px;
    padding: 1%;
    margin-top: 3px;
    border-radius: 6px;
    overflow: auto;
    resize: none;
}


.screeningQuestion__textInput > textarea {
    outline: none;
}

.screeningQuestion__cardListOptions {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.screeningQuestion__cardOption {
    display: flex;
    flex-direction: column;
    flex-basis: 33%;
}

.screeningQuestion__select {
    height: 29px;
    padding: 0 10px;
    border: 1px solid black;
    border-radius: 4px;
}

.screeningQuestion__number {
    display: flex;
}

.screeningQuestion__label {
    margin: 15px 0 3px 0;
    font-size: 14px;
    font-weight: 400;
    color: rgb(70, 70, 70);
}

.screeningQuestion__inputNumber {
    height: 28px;
    padding: 0 10px;
    border: 1px solid black;
    border-radius: 4px;
    width: 50px;
    margin-right: 10px;
}

.screeningQuestion__cardMustHave {
    display: flex;
    justify-content: center;
    align-items: center;
}

.screeningQuestion__cardMustHave input {
    margin-right: 10px;
    height: 24px;
    width: 24px;
}

.screeningQuestion__cardMustHave label {
    font-size: 14px;
    font-weight: 400;
    color: rgb(70, 70, 70);
}