.createJobAssess__container {
    background-color: rgb(230, 230, 230);
    padding: 50px 100px;
    display: flex;
}

.createJobAssess__content {
    background-color: white;
    flex: 1;
    padding: 24px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}

.createJobAssess__content > h3 {
    margin: 0;
    padding-bottom: 24px;
    border-bottom: 1px solid rgb(200, 200, 200);
    font-size: 20px;
    font-weight: 600;
}

.createJobAssess__content > span {
    padding: 8px 0;
    font-size: 12px;
    font-weight: 400;
}

.createJobAssess__applicantColl > h2{
    font-size: 20px;
    font-weight: 600;
}

.createJobAssess__applicantColl > div{
    display: flex;
}

.createJobAssess__receiveAppli, .createJobAssess__address {
    display: flex;
    flex-direction: column;
}

.createJobAssess__receiveAppli {
    margin-right: 10px;
    flex: 1;
}

.createJobAssess__address {
    flex: 3;
}

.createJobAssess__applicantColl label{
    margin: 12px 0 3px 0;
    font-size: 14px;
    font-weight: 400;
    color: rgb(70, 70, 70);
}

.createJobAssess__receiveAppli select{
    height: 34px;
    padding: 0 10px;
    border-radius: 4px;
}

.createJobAssess__address input{
    height: 32px;
    padding: 0 10px;
    border: 1px solid black;
    border-radius: 4px;
}

.createJobAssess__questions {
    margin: 24px 0;
}

.createJobAssess__questions > h2{
    font-size: 20px;
    font-weight: 600;
}

.createJobAssess__wrapper {
    display: flex;
    justify-content: space-between
}

.createJobAssess__wrapper > p {
    font-size: 14px;
    font-weight: 400;
    margin: 10px 0;
}

.createJobAssess__wrapper > button {
    height: 30px;
    margin: 4px 4px 4px 0;
    padding: 6px 15px 6px 15px;
    border: 1px solid rgb(110, 110, 110);;
    border-radius: 20px;
    background-color: white;
    color: rgb(110, 110, 110);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.createJobAssess__questions ul{
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.createJobAssess__questions ul * {
    display: flex;
}

.createJobAssess__questions a {
    text-decoration: none;
    margin: 4px 4px 4px 0;
    padding: 8px 12px 8px 12px;
    border-radius: 20px;
    background-color: white;
    color: rgb(110, 110, 110);
    border: 1px solid rgb(110, 110, 110);
    font-size: 16px;
    font-weight: 600;
}

.createJobAssess__title{
    padding-top: 16px;
    border-top: 1px solid rgb(230, 230, 230);
}

.createJobAssess__qual {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.createJobAssess__qualInput{
    height: 20px;
    width: 20px;
}

.createJobAssess__qualLabel {
    font-size: 14px;
    margin-left: 10px;
}


.createJobAssess__footer {
    padding-top: 16px;
    border-top: 1px solid rgb(230, 230, 230);
    display: flex;
    justify-content: space-between;
}

.createJobAssess__footer a {
    color: rgb(10, 102, 194);
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}

.createJobAssess__footer div button {
    margin: 4px 4px 4px 0;
    padding: 8px 15px 8px 15px;
    border-radius: 20px;
    color: rgb(70, 70, 70);
    background-color: white;
    border: 1px solid rgb(70, 70, 70);
    cursor: pointer;
}

.createJobAssess__footer div button + button {
    background-color: rgb(10, 102, 194);
    color: white;
}

.createJobAssess__sideBar {
    flex: 0 0 350px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.createJobAssess__sideBarContainer {
    background-color: white;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 12px;
    margin-bottom: 15px;
    padding: 16px;
}

.no-display {
    display: none !important
}