
.screeningQuestionView__card {
    margin: 16px 0;
    border-radius: 8px;
    border: 1px solid rgb(200, 200, 200);
}

.screeningQuestionView__question, .screeningQuestionView__answers {
    background-color: rgb(235, 235, 255);
    height: 30px;
    padding: 8px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.screeningQuestionView__answers {
    background-color: white;
    justify-content: space-between;
}

.screeningQuestionView__question h3 {
    margin: 0 4px 0 0;
    font-size: 14px;
    font-weight: 600;
}

.screeningQuestionView__answer > * {
    margin: 15px 10px 3px 0;
    font-size: 16px;
    font-weight: 500;
}

.screeningQuestionView__answer > label {
    font-size: 14px;
    font-weight: 400;
    color: rgb(70, 70, 70);
}
