.overlay {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.modal__container {
  max-width: 600px;
  width: 100%;
  background-color: white;
  margin: 20px auto;
  border-radius: 20px;
  padding: 15px 20px;
}

.modal__container > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 8px;
  margin-bottom: 18px;
  border-bottom: 1px solid rgb(180, 180, 180);
  position: sticky;
}

.modal__container > header > h3 {
  font-weight: 400;
  font-size: 20px;
}

.modal__form {
  max-height: 500px;
}