.topbarContainer {
    height:60px;
    width: 84%;
    padding: 0px 8%;
    margin-bottom: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
    border-bottom: 1px solid rgb(201, 201, 201);
}

.topbarLeft {
    flex:2;
    display: flex;
    align-items: center;
}

.Logo {
    font-size: 24px;
    font-weight: 800;
    color: rgb(40, 40, 230);
    cursor: pointer;
}

.SearchBar {
    width: 100%;
    height: 30px;
    margin-left: 20px;
    background-color: rgb(240, 240, 255);
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.SearchIcon {
    font-size: 20px !important;
    color: rgb(100, 100, 100);
    margin-left: 10px;
}

.SearchInput {
    background-color: transparent;
    border: none;
    width: 90%;
}

.SearchInput:focus{
    outline: none;
}

.topbarRight {
    flex:3;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.topbarLink {
    margin-right: 10px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.topbarIcons {
    display: flex;
}

.topbarIconItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80px;
    color: rgb(100, 100, 100);
    text-decoration: none;
    cursor: pointer;
    position: relative;
}

.topbarIconItem:hover {
    color: black;
}

.topbarIconBadge {
    width: 15px;
    height: 15px;
    background-color: rgb(204, 16, 22);
    border-radius: 50%;
    color: white;
    position: absolute;
    top: -3px;
    right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.topbarIconName {
    display: block;
    margin-top: 2px;
    font-size: 12px;
    font-weight: 400;
}

.topbarImg {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}