.manageContainer__section {
    flex: 2;
    padding: 0 12px;
    margin-bottom: 32px;
}

.manageContainer {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid rgb(210, 210, 210);
    border-radius: 10px;
    padding-top: 16px;
}

.manageContainer__header {
    padding: 0 24px;
    font-size: 24px;
    font-weight: 400;
}

.manageContainer__filterBar {
    margin: 0 16px;
    padding: 0 8px;
    border-bottom: 1px solid rgb(210, 210, 210);
}

.manageContainer__filterList {
    padding: 0;
    margin: 8px 0;
    display: flex;
    list-style: none;
}

.manageContainer__filter, .manageContainer__filter--active {
    color: rgb(70, 70, 70);
    background-color: white;
    padding: 5px 16px;
    margin-right: 16px;
    border: 1px solid rgb(70, 70, 70);
    border-radius: 15px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.manageContainer__filter:hover {
    background-color: rgb(221, 221, 221);
}

.manageContainer__filter--active {
    color: white;
    background-color: #057642;
    border-color: #057642;
}

.manageContainer__resultList {
    padding: 0;
    margin-top: 8px;
    list-style: none;
}