/* * {
    background: rgb(233, 233, 233);
}

.newHome__header * {
    background: white;
}

.newHome__header > div {
    padding: 5px 60px;
    display: flex;
    align-items: center;
}

.newHome__header h1 {
    color: #0a66c2;
    margin-right: 20px;
    flex: 1;
}

.newHome__header form {
    flex: 3;
    width: 100%;
}

.newHome__header input {
    width: 60%;
    height: 32px;
    padding: 0 10px;
    background-color: rgb(230, 230, 252);
    border: none;
}

.newHome__header nav {
    flex: 4;
}

.newHome__header ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.newHome__header li {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 7px;
    border-right: 1px solid rgb(180, 180, 180);
    border-left: 1px solid rgb(180, 180, 180);
}

.newHome__header a {
    text-decoration: none;
    font-size: 14px;
    color: gray;
}

.newHome__container {
    padding: 20px 60px;
    display: flex;
}

main > .newHome__leftBar {
    background: white;
    height: 300px;
    border-radius: 14px;
    flex: 2;
}

main > .newHome__content {
    background: white;
    height: 300px;
    margin: 0 20px;
    border-radius: 14px;
    flex: 5;
}

main > .newHome__rightBar {
    background: white;
    height: 300px;
    border-radius: 14px;
    flex: 3;
} */
