.manageItem {
    display: flex;
    border-bottom: 1px solid rgb(230, 230, 230);
}

.manageItem__imgWrapper {
    margin: 16px 20px 12px 16px;
}

.manageItem__img {
    width: 48px;
    height: 48px;
}

.manageItem__content {
    flex: 1;
    padding: 12px 0;
}

.manageItem__desc {
    margin-bottom: 4px;
}

.manageItem__title {
    display: block;
    font-size: 16px;
    font-weight: 600;
}

.manageItem__company {
    display: block;
    font-size: 14px;
    font-weight: 400;
}

.manageItem__location {
    display: block;
    font-size: 14px;
    font-weight: 400;
}

.manageItem__draft {
    margin-top: 8px;
}

.manageItem__draftTime, .manageItem__draftLink {
    display: block;
    font-size: 14px;
    font-weight: 400;
}

.manageItem__draftLink {
    margin-top: 2px;
    text-decoration: none;
    color: rgb(10, 102, 194);
    font-size: 14px;
    font-weight: 600;
}

.manageItem__action {
    padding: 16px 30px 0 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.manageItem__button {
    padding: 8px;
    border: none;
    border-radius: 50%;
    background: none;
    cursor: pointer;
}

.manageItem__button:hover, .manageItem__dropdownOption:hover {
    background: rgb(240, 240, 240);
}

.manageItem__dropdown, .manageItem__dropdown--show {
    display: none;
    width: 180px;
    position: absolute;
}

.manageItem__dropdown--show {
    display: block;
    background-color: white;
    border: 1px solid rgb(210, 210, 210);
    border-radius: 10px;
    top: 62px;
    right: 35px;
    box-shadow: 0px 6px 11px -1px rgba(0,0,0,0.25);
    z-index: 999;
}

.manageItem__dropdownOption {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    color: #5e5e5e
}

.manageItem__link {
    text-decoration: none;
}