.addButton__button{
    margin: 4px 4px 4px 0;
    padding: 8px 12px 8px 12px;
    border-radius: 20px;
    background-color: rgb(5, 118, 66);
    color: white;
    border: none;
    align-items: center;
}

.addButton__text{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}

.addButton__icon{
    font-size: 18px !important;
    margin-left: 5px;
}
