.manageItem__dropdownOption > * {
    display: flex;
    align-items: center;
}

.dropDownOption__link {
    text-decoration: none;
    padding: 10px;
    color: black;
    cursor: pointer;
}

.dropDownOption__link:hover {
    background: rgb(240, 240, 240);
}

.dropDownOption__icon {
    font-size: 24 !important; 
    color: '#5e5e5e';
    margin-right: 5;
}
