.myJobContainer__section {
    flex: 3;
    padding: 0 12px;
    margin-bottom: 32px;
}

.myJobContainer {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid rgb(210, 210, 210);
    border-radius: 10px;
    padding: 16px 24px;
    margin-bottom: 16px;
}

.myJobContainer__header {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 400;
}

.myJobContainer__content {
    display: flex;
}

.myJobContainer__description {
    flex: 3;
    margin-right: 24px;
}

.myJobContainer__details {
    flex: 1;
}